.notesContainer {
  border-bottom: 1px solid var(--border);
  padding-bottom: 1.5rem;
}

.containerHeading {
  font-size: 0.85rem;
  font-weight: 600;
  color: var(--primary);
}
.noteCard {
  border: 1px solid var(--border);
  border-radius: 0.5rem;
  padding: 0.75rem 1rem;
  background-color: var(--card);
  margin-top: 0.75rem;
}

.heading_actionsContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.noteHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.25rem;
}

.noteTitle {
  font-size: 0.95rem;
  font-weight: 600;
  color: var(--primary);
}

.label {
  display: inline-block;
  padding: 0.15rem 0.5rem;
  border-radius: 0.5rem;
  font-size: 0.7rem;
  font-weight: 500;
  color: #fff;
  white-space: nowrap;
}

.noteMetaRow {
  margin-bottom: 0.5rem;
}

.noteMeta {
  font-size: 0.75rem;
  color: var(--label);
}

.actionsbtns {
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: end;
}

.actionbtn {
  font-size: 11px;
  display: flex;
  align-items: center;
  gap: 2px;
}
