.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
  margin-top: 0.5rem;
}

.tag {
  font-size: 12px;
  padding: 0.2rem 0.3rem;
  border-radius: 3px;
  display: flex;
  align-items: center;
}

.inputContainer {
  height: 38px;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
}

.inputContainer > input {
  border: none;
  outline: none;
  width: 100%;
  padding: 0 0.8rem 0 0.8rem;
}

.inputContainer > button {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  background-color: var(--input);
  height: 100%;
  padding: 0 1rem;
}
