.card {
  padding: 0.5rem;
  background-color: var(--card);
  border: 1px solid var(--border);
  border-radius: 10px;
  margin-top: 0.5rem;
}

.sectionContainer {
  padding-inline: calc(var(--spacing) * 6);
}

.infoRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.infoContainer h1 {
  font-size: 0.9rem;
  font-weight: 500;
}

.infoContainer p {
  font-size: 0.75rem;
  font-weight: 500;
  color: var(--label);
}

.section {
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.rightIcon {
  color: var(--label);
  cursor: pointer;
}

.rightIcon:hover {
  color: var(--primary);
}
