.btn {
  border-radius: 5px;
  padding: 0;
  margin: 0;
}

.sm {
  padding: 0.1rem 0.6rem;
  border-radius: 4px;
  font-size: 0.7rem;
  font-weight: lighter;
}

.md {
  padding: 0.4rem 0.9rem;
  border-radius: 5px;
  font-size: 0.8rem;
  font-weight: 500;
}
.lg {
  padding: 0.6rem 1rem;
  border-radius: 5px;
  font-size: 0.9rem;
  font-weight: 600;
}
