.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 1rem;
}

.checkBox {
  display: flex;
  border-radius: 5px;
  cursor: pointer;
}

.topBtnContainer {
  display: flex;
  justify-content: space-between;
}

.tableCellText {
  color: var(--primary);
  font-size: 0.85rem;
}

.fileTypeText {
  color: var(--label);
  font-size: 0.75rem;
}

.moreMenu {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 5px;
}

.moreMenu > li {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  font-size: 13px;
  justify-content: flex-start;
  gap: 5px;
  cursor: pointer;
  overflow: hidden;
  background-color: var(--card);
  color: var(--primary);
}

.moreMenu > li:hover {
  background-color: var(--accent);
}

.moreOptionsBtn {
  cursor: pointer;
}

.uploadAttachmentsContainer {
  padding: 1rem;
}

.UploadFileButton {
  width: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 500px) {
  .UploadFileButton {
    width: 490px;
  }
}
