.card {
  padding: 0.5rem;
  background-color: var(--card);
  border: 1px solid var(--border);
  border-radius: 10px;
  margin-top: 0.5rem;
}

.sectionContainer {
  padding-inline: calc(var(--spacing) * 6);
}

.label {
  font-size: 12px;
  color: var(--label);
}
